#ExtendedFieldSearch_0_2_0{
    float: left;
    padding-top: 2px;
    padding-left: 10px;
}

#ExtendedFieldSearch_1_3_0{
    float: left;
    padding-top: 2px;
    padding-left: 10px;
}

#ExtendedFieldSearch_2_4_0{
    float: left;
    padding-top: 2px;
    padding-left: 10px;
}

#SubmitButton_0_5_0{
    float: left;
    padding-top: 7px;
    padding-left: 10px;
}

